.introContainer_21mrh {
    min-height: 720px;
    align-items: center;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    columns: 2;
    background: -webkit-radial-gradient(50% 100%,circle,#fb8142 0,rgba(251,129,66,0) 62%);
    background: radial-gradient(circle at 50% 100%,#fb8142 0,rgba(251,129,66,0) 62%);
}
.introText_1yC4O {
    background: none;
    color: rgb(250, 244, 244);
    text-align: center;
}
.introText_1yC4O h5 {
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 24px;
}
.introText_1yC4O button:hover {
    background-image: -webkit-gradient(linear,left top,right top,from(#fd8e26),to(#fda611));
    background-image: -webkit-linear-gradient(left,#fd8e26,#fda611);
    background-image: linear-gradient(
90deg
,#fd8e26,#fda611);
}
.introText_1yC4O button {
    color: #fff;
    background-image: -webkit-gradient(linear,left top,right top,from(#fd6a4f),to(#fc9e23));
    background-image: -webkit-linear-gradient(left,#fd6a4f,#fc9e23);
    background-image: linear-gradient(90deg, #fd6a4f,#fc9e23);
    padding: 1rem 3rem;
    color: #fafafa;
    border: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: .5rem;
}