
.navRow_236y3 {
    -webkit-transition: margin .2s linear;
    transition: margin .2s linear;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    color: rgba(0,0,0,.87);
    margin: auto;
}

.navRow_236y3 .brand_2aHQJ {
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1
}

.navRow_236y3 .navbar_2uuBv li {
    float: left
}

.navRow_236y3 .navbar_2uuBv li>a {
    display: inline-block;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    margin: 0 20px
}

.navRow_236y3 .navbar_2uuBv li>a.signupBtn_2APvt {
    margin-right: 0
}

.navRow_236y3 .navbar_2uuBv .navItem_2K7pc>a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.navRow_236y3 .navbar_2uuBv .navItem_2K7pc>a.active_1e1wk,.navRow_236y3 .navbar_2uuBv .navItem_2K7pc>a:hover {
    font-weight: 600;
    -webkit-box-shadow: inset 0 -2px 0 0 #4772fa;
    box-shadow: inset 0 -2px 0 0 #4772fa
}

.navRow_236y3 .navbar_2uuBv .navItem_2K7pc>a:active {
    color: rgba(20,34,47,.54)
}

.navRow_236y3 .signupBtn_2APvt {
    display: inline!important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid rgba(0,0,0,.24);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    padding: 8px 20px
}

.navRow_236y3 .signupBtn_2APvt:hover {
    border-color: rgba(0,0,0,.56)
}

.navRow_236y3 .signupBtn_2APvt:active {
    background: rgba(0,0,0,.08)
}

.navCollapse_2tnl9 {
    position: relative;
    height: 72px
}

.navCollapse_2tnl9 .menuHeader_1Mqim {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff
}

.navCollapse_2tnl9 .menuHeaderInner_LpwJe {
    display: none;
    visibility: hidden;
}

.navCollapse_2tnl9 .menu_3afjO {
    background: #fff;
    -webkit-transform: translate3d(0,-1000px,0);
    transform: translate3d(0,-1000px,0);
    -webkit-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
    -webkit-box-shadow: 0 28px 38px 0 rgba(0,0,0,.21),inset 0 4px 8px 0 rgba(0,0,0,.06);
    box-shadow: 0 28px 38px 0 rgba(0,0,0,.21),inset 0 4px 8px 0 rgba(0,0,0,.06)
}

.navCollapse_2tnl9 li {
    border-bottom: 1px solid rgba(0,0,0,.08)
}

.navCollapse_2tnl9 li:last-child {
    border-bottom: none
}

.navCollapse_2tnl9 li a {
    font-weight: 600;
    font-size: 16px;
    color: rgba(0,0,0,.85);
    display: block
}

.navCollapse_2tnl9.open_2zMDU .menu_3afjO {
    -webkit-transform: translate3d(0,72px,0);
    transform: translate3d(0,72px,0)
}

.navCollapse_2tnl9.open_2zMDU .menuTrigger_3rDYB {
    background-color: transparent
}

.navCollapse_2tnl9.open_2zMDU .menuTrigger_3rDYB:before {
    -webkit-transform: rotate(45deg) translate(5px,5px);
    transform: rotate(45deg) translate(5px,5px)
}

.navCollapse_2tnl9.open_2zMDU .menuTrigger_3rDYB:after {
    -webkit-transform: rotate(-45deg) translate(7px,-8px);
    transform: rotate(-45deg) translate(7px,-8px)
}
